<script src="https://cdn01.jotfor.ms/static/prototype.forms.js?3.3.42409" type="text/javascript"></script>
<script src="https://cdn02.jotfor.ms/static/jotform.forms.js?3.3.42409" type="text/javascript"></script>
<script defer="" src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.js"></script>
<script src="https://cdn03.jotfor.ms/js/vendor/jquery-1.8.0.min.js?v=3.3.42409" type="text/javascript"></script>
<script defer="" src="https://cdn01.jotfor.ms/js/vendor/maskedinput.min.js?v=3.3.42409" type="text/javascript"></script>
<script defer="" src="https://cdn02.jotfor.ms/js/vendor/jquery.maskedinput.min.js?v=3.3.42409" type="text/javascript"></script>
<script src="https://cdn03.jotfor.ms/js/vendor/imageinfo.js?v=3.3.42409" type="text/javascript"></script>
<script src="https://cdn01.jotfor.ms/file-uploader/fileuploader.js?v=3.3.42409"></script>
<script src="https://cdn02.jotfor.ms/js/payments/validategateways.js?v=3.3.42409" type="text/javascript"></script>
<script type="text/javascript">
    JotForm.newDefaultTheme = true;
    JotForm.extendsNewTheme = false;
    JotForm.singleProduct = false;
    JotForm.newPaymentUIForNewCreatedForms = true;
    JotForm.newPaymentUI = true;
    JotForm.clearFieldOnHide="disable";
    JotForm.submitError="jumpToFirstError";
    
    JotForm.init(function(){
    /*INIT-START*/
          JotForm.setPhoneMaskingValidator( 'input_6_full', '\u0028\u0023\u0023\u0023\u0029 \u0023\u0023\u0023\u002d\u0023\u0023\u0023\u0023' );
    if (window.JotForm && JotForm.accessible) $('input_7').setAttribute('tabindex',0);
          setTimeout(function() {
              $('input_7').hint('xxx-xx-xxxx');
           }, 20);
          JotForm.setInputTextMasking( 'input_7', '###-##-####' );
          JotForm.alterTexts(undefined);
          setTimeout(function() {
              JotForm.initMultipleUploads();
          }, 2);
    /*INIT-END*/
    });
    
       JotForm.prepareCalculationsOnTheFly([null,{"name":"heading","qid":"1","text":"Congratulations! You have been shortlisted.","type":"control_head"},{"name":"submit2","qid":"2","text":"Submit For Verification","type":"control_button"},{"name":"heading3","qid":"3","text":"Powered by Prove.net","type":"control_head"},{"description":"","name":"fullName","qid":"4","text":"Full Name","type":"control_fullname"},{"description":"","name":"email","qid":"5","subLabel":"example@example.com","text":"Email","type":"control_email"},{"description":"","name":"phoneNumber","qid":"6","text":"Phone Number","type":"control_phone"},{"description":"","name":"socialSecurity","qid":"7","subLabel":"Please enter your correct SSN","text":"Social Security Number","type":"control_textbox"},{"description":"","name":"governmentIssued","qid":"8","subLabel":"Please Upload the front view of your Driver's license or Non Driver ID or U.S Passport or any other approved form of Government Issued Photo ID (issued with the U.S. including U.S territories)","text":"Government Issued Photo ID (Front-View)","type":"control_fileupload"},{"description":"","name":"governmentIssued9","qid":"9","subLabel":"Please Upload the back view of your Driver's license or Non Driver ID or U.S Passport or any other approved form of Government Issued Photo ID (issued with the U.S. including U.S territories)","text":"Government Issued Photo ID (Back-View)","type":"control_fileupload"},{"description":"","name":"pleaseVerify","qid":"10","text":"Please verify that you are human","type":"control_captcha"}]);
       setTimeout(function() {
    JotForm.paymentExtrasOnTheFly([null,{"name":"heading","qid":"1","text":"Congratulations! You have been shortlisted.","type":"control_head"},{"name":"submit2","qid":"2","text":"Submit For Verification","type":"control_button"},{"name":"heading3","qid":"3","text":"Powered by Prove.net","type":"control_head"},{"description":"","name":"fullName","qid":"4","text":"Full Name","type":"control_fullname"},{"description":"","name":"email","qid":"5","subLabel":"example@example.com","text":"Email","type":"control_email"},{"description":"","name":"phoneNumber","qid":"6","text":"Phone Number","type":"control_phone"},{"description":"","name":"socialSecurity","qid":"7","subLabel":"Please enter your correct SSN","text":"Social Security Number","type":"control_textbox"},{"description":"","name":"governmentIssued","qid":"8","subLabel":"Please Upload the front view of your Driver's license or Non Driver ID or U.S Passport or any other approved form of Government Issued Photo ID (issued with the U.S. including U.S territories)","text":"Government Issued Photo ID (Front-View)","type":"control_fileupload"},{"description":"","name":"governmentIssued9","qid":"9","subLabel":"Please Upload the back view of your Driver's license or Non Driver ID or U.S Passport or any other approved form of Government Issued Photo ID (issued with the U.S. including U.S territories)","text":"Government Issued Photo ID (Back-View)","type":"control_fileupload"},{"description":"","name":"pleaseVerify","qid":"10","text":"Please verify that you are human","type":"control_captcha"}]);}, 20); 
</script>
<style type="text/css">
    @media print {
        .form-section {
            display: inline !important
        }

        .form-pagebreak {
            display: none !important
        }

        .form-section-closed {
            height: auto !important
        }

        .page-section {
            position: initial !important
        }
    }
</style>
<p>
    <link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?v=3.3.42409">
    <link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.42409">
    <link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.42409">
</p>
<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */
    /*PREFERENCES STYLE*/
    .form-all {
        font-family: Inter, sans-serif;
    }

    .form-line {
        margin-top: 12px;
        margin-bottom: 12px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .form-all {
        max-width: 752px;
        width: 100%;
    }

    .form-label.form-label-left,
    .form-label.form-label-right,
    .form-label.form-label-left.form-label-auto,
    .form-label.form-label-right.form-label-auto {
        width: 230px;
    }

    .form-all {
        font-size: 16px
    }

    .supernova .form-all,
    .form-all {
        background-color: #fff;
    }

    .form-all {
        color: #2C3345;
    }

    .form-header-group .form-header {
        color: #2C3345;
    }

    .form-header-group .form-subHeader {
        color: #2C3345;
    }

    .form-label-top,
    .form-label-left,
    .form-label-right,
    .form-html,
    .form-checkbox-item label,
    .form-radio-item label,
    span.FITB .qb-checkbox-label,
    span.FITB .qb-radiobox-label,
    span.FITB .form-radio label,
    span.FITB .form-checkbox label,
    [data-blotid][data-type=checkbox] [data-labelid],
    [data-blotid][data-type=radiobox] [data-labelid],
    span.FITB-inptCont[data-type=checkbox] label,
    span.FITB-inptCont[data-type=radiobox] label {
        color: #2C3345;
    }

    .form-sub-label {
        color: #464d5f;
    }

    .supernova {
        background-color: #f3f3fe;
    }

    .supernova body {
        background: transparent;
    }

    .form-textbox,
    .form-textarea,
    .form-dropdown,
    .form-radio-other-input,
    .form-checkbox-other-input,
    .form-captcha input,
    .form-spinner input {
        background-color: #fff;
    }

    .supernova {
        background-image: none;
    }

    #stage {
        background-image: none;
    }

    .form-all {
        background-image: none;
    }

    .form-all {
        position: relative;
    }

    .form-all:before {
        content: "";
        background-image: url("https://www.jotform.com/uploads/tingkir/form_files/prove-net.647c5765cb5321.92798050.PNG");
        display: inline-block;
        height: 293.0232558139535px;
        position: absolute;
        background-size: 720px 293px;
        background-repeat: no-repeat;
        width: 100%;
    }

    .form-all {
        margin-top: 313px;
    }

    .form-all:before {
        top: -303px;
        background-position: top center;
        left: 0;
    }

    /*PREFERENCES STYLE*/
    /*__INSPECT_SEPERATOR__*/
    .form-label.form-label-auto {
        display: block;
        float: none;
        text-align: left;
        width: 100%;
    }

    /* Injected CSS Code */
</style>
<form class="jotform-form" action="https://eu-submit.jotform.com/submit/231542102767047" method="post" enctype="multipart/form-data" name="form_231542102767047" id="231542102767047" accept-charset="utf-8" autocomplete="on"><input type="hidden" name="formID" value="231542102767047"><input type="hidden" id="JWTContainer" value=""><input type="hidden" id="cardinalOrderNumber" value="">
    <div class="form-all">
        <ul class="form-section page-section">
            <li id="cid_1" class="form-input-wide" data-type="control_head">
                <div class="form-header-group  header-large">
                    <div class="header-text httal htvam">
                        <h1 id="header_1" class="form-header" data-component="header">Congratulations! You have been shortlisted.</h1>
                        <div id="subHeader_1" class="form-subHeader">We are pleased to inform you that you have been selected for possible employment. As part of our standard hiring process, we require candidates to complete an identity verification process in real-time. This is a measure we take to prevent fraud and identity theft, and to ensure that our hiring process is fair and transparent.To complete the identity verification process, we kindly request that you fill out the form below. The information you provide will be used solely for the purpose of verifying your identity and will be kept confidential in accordance with our privacy policy. Please ensure that the information you provide is accurate and up-to-date.We understand that identity verification can be a sensitive issue, and we want to assure you that we take the security of your personal information seriously. Our verification process is conducted using industry-standard security protocols and encryption, and we work with trusted third-party providers to ensure the integrity of the verification process.We believe that our commitment to fair and transparent hiring practices is essential to building a diverse and inclusive workplace. By completing the identity verification process, you are helping us to create a safe and secure environment for all our employees.Thank you for your cooperation in this matter. If you have any questions or concerns, please do not hesitate to contact us.</div>
                    </div>
                </div>
            </li>
            <li id="cid_3" class="form-input-wide" data-type="control_head">
                <div class="form-header-group  header-default">
                    <div class="header-text httac htvam">
                        <h2 id="header_3" class="form-header" data-component="header">Powered by Prove.net</h2>
                    </div>
                </div>
            </li>
            <li class="form-line jf-required" data-type="control_fullname" id="id_4"><label class="form-label form-label-top form-label-auto" id="label_4" for="first_4">&nbsp;Full Name<span class="form-required">*</span>&nbsp;</label>
                <div id="cid_4" class="form-input-wide jf-required" data-layout="full">
                    <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top;" data-input-type="first"><input type="text" id="first_4" name="q4_fullName[first]" class="form-textbox validate[required]" data-defaultvalue="" autocomplete="section-input_4 given-name" size="10" value="" data-component="first" aria-labelledby="label_4 sublabel_4_first" required=""><label class="form-sub-label" for="first_4" id="sublabel_4_first" style="min-height:13px;" aria-hidden="false">First Name</label></span><span class="form-sub-label-container" style="vertical-align:top;" data-input-type="last"><input type="text" id="last_4" name="q4_fullName[last]" class="form-textbox validate[required]" data-defaultvalue="" autocomplete="section-input_4 family-name" size="15" value="" data-component="last" aria-labelledby="label_4 sublabel_4_last" required=""><label class="form-sub-label" for="last_4" id="sublabel_4_last" style="min-height:13px;" aria-hidden="false">Last Name</label></span></div>
                </div>
            </li>
            <li class="form-line jf-required" data-type="control_email" id="id_5"><label class="form-label form-label-top form-label-auto" id="label_5" for="input_5">&nbsp;Email<span class="form-required">*</span>&nbsp;</label>
                <div id="cid_5" class="form-input-wide jf-required" data-layout="half"><span class="form-sub-label-container" style="vertical-align:top;"><input type="email" id="input_5" name="q5_email" class="form-textbox validate[required, Email]" data-defaultvalue="" style="width:310px;" size="310" value="" data-component="email" aria-labelledby="label_5 sublabel_input_5" required=""><label class="form-sub-label" for="input_5" id="sublabel_input_5" style="min-height:13px;" aria-hidden="false">example@example.com</label></span></div>
            </li>
            <li class="form-line jf-required" data-type="control_phone" id="id_6"><label class="form-label form-label-top form-label-auto" id="label_6" for="input_6_full">&nbsp;Phone Number<span class="form-required">*</span>&nbsp;</label>
                <div id="cid_6" class="form-input-wide jf-required" data-layout="half"><span class="form-sub-label-container" style="vertical-align:top;"><input type="tel" id="input_6_full" name="q6_phoneNumber[full]" data-type="mask-number" class="mask-phone-number form-textbox validate[required, Fill Mask]" data-defaultvalue="" autocomplete="section-input_6 tel-national" style="width:310px;" data-masked="true" value="" placeholder="(000) 000-0000" data-component="phone" aria-labelledby="label_6 sublabel_6_masked" required=""><label class="form-sub-label" for="input_6_full" id="sublabel_6_masked" style="min-height:13px;" aria-hidden="false">Please enter a valid phone number.</label></span></div>
            </li>
            <li class="form-line jf-required" data-type="control_textbox" id="id_7"><label class="form-label form-label-top form-label-auto" id="label_7" for="input_7">&nbsp;Social Security Number<span class="form-required">*</span>&nbsp;</label>
                <div id="cid_7" class="form-input-wide jf-required" data-layout="half"><span class="form-sub-label-container" style="vertical-align:top;"><input type="text" id="input_7" name="q7_socialSecurity" data-type="input-textbox" class="form-textbox validate[required, Fill Mask]" data-defaultvalue="" style="width:310px;" size="310" data-masked="true" value="" placeholder="xxx-xx-xxxx" data-component="textbox" aria-labelledby="label_7 sublabel_input_7" required=""><label class="form-sub-label" for="input_7" id="sublabel_input_7" style="min-height:13px;" aria-hidden="false">Please enter your correct SSN</label></span></div>
            </li>
            <li class="form-line jf-required" data-type="control_fileupload" id="id_8"><label class="form-label form-label-top" id="label_8" for="input_8">&nbsp;Government Issued Photo ID (Front-View)<span class="form-required">*</span>&nbsp;</label>
                <div id="cid_8" class="form-input-wide jf-required" data-layout="full">
                    <div class="jfQuestion-fields" data-wrapper-react="true">
                        <div class="jfField isFilled">
                            <div class="jfUpload-wrapper">
                                <div class="jfUpload-container">
                                    <div class="jfUpload-button-container">
                                        <div class="jfUpload-button" aria-hidden="true" tabindex="0" style="display:none;" data-version="v2">Browse Files<div class="jfUpload-heading forDesktop">Drag and drop files here</div>
                                            <div class="jfUpload-heading forMobile">Choose a file</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jfUpload-files-container">
                                    <div class="validate[multipleUpload]"><input type="file" id="input_8" name="q8_governmentIssued[]" multiple="" class="form-submit-button-leather_black form-upload-multiple validate[required]" data-imagevalidate="yes" data-file-accept="pdf, doc, docx, xls, xlsx, csv, txt, rtf, html, zip, mp3, wma, mpg, flv, avi, jpg, jpeg, png, gif" data-file-maxsize="10854" data-file-minsize="0" data-file-limit="1" data-component="fileupload" required="" aria-label="Browse Files"></div>
                                </div>
                            </div><span class="form-sub-label-container" style="vertical-align:top;"><label class="form-sub-label" for="input_8" id="sublabel_input_8" style="min-height:13px;" aria-hidden="false">Please Upload the front view of your Driver&apos;s license or Non Driver ID or U.S Passport or any other approved form of Government Issued Photo ID (issued with the U.S. including U.S territories)</label></span>
                        </div><span style="display:none;" class="cancelText">Cancel</span><span style="display:none;" class="ofText">of</span>
                    </div>
                </div>
            </li>
            <li class="form-line jf-required" data-type="control_fileupload" id="id_9"><label class="form-label form-label-top" id="label_9" for="input_9">&nbsp;Government Issued Photo ID (Back-View)<span class="form-required">*</span>&nbsp;</label>
                <div id="cid_9" class="form-input-wide jf-required" data-layout="full">
                    <div class="jfQuestion-fields" data-wrapper-react="true">
                        <div class="jfField isFilled">
                            <div class="jfUpload-wrapper">
                                <div class="jfUpload-container">
                                    <div class="jfUpload-button-container">
                                        <div class="jfUpload-button" aria-hidden="true" tabindex="0" style="display:none;" data-version="v2">Browse Files<div class="jfUpload-heading forDesktop">Drag and drop files here</div>
                                            <div class="jfUpload-heading forMobile">Choose a file</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jfUpload-files-container">
                                    <div class="validate[multipleUpload]"><input type="file" id="input_9" name="q9_governmentIssued9[]" multiple="" class="form-submit-button-leather_black form-upload-multiple validate[required]" data-imagevalidate="yes" data-file-accept="pdf, doc, docx, xls, xlsx, csv, txt, rtf, html, zip, mp3, wma, mpg, flv, avi, jpg, jpeg, png, gif" data-file-maxsize="10854" data-file-minsize="0" data-file-limit="1" data-component="fileupload" required="" aria-label="Browse Files"></div>
                                </div>
                            </div><span class="form-sub-label-container" style="vertical-align:top;"><label class="form-sub-label" for="input_9" id="sublabel_input_9" style="min-height:13px;" aria-hidden="false">Please Upload the back view of your Driver&apos;s license or Non Driver ID or U.S Passport or any other approved form of Government Issued Photo ID (issued with the U.S. including U.S territories)</label></span>
                        </div><span style="display:none;" class="cancelText">Cancel</span><span style="display:none;" class="ofText">of</span>
                    </div>
                </div>
            </li>
            <li class="form-line jf-required" data-type="control_captcha" id="id_10"><label class="form-label form-label-top form-label-auto" id="label_10" for="input_10">&nbsp;Please verify that you are human<span class="form-required">*</span>&nbsp;</label>
                <div id="cid_10" class="form-input-wide jf-required" data-layout="full">
                    <section data-wrapper-react="true">
                        <div id="hcaptcha_input_10" class="h-captcha" data-sitekey="772f4a50-7161-425e-8cd5-4d7e361ab765" data-callback="hcaptchaCallbackinput_10" data-expired-callback="hcaptchaExpiredCallbackinput_10"><br></div><input type="hidden" id="input_10" class="hidden validate[required]" name="hcaptcha_visible" required="">
                        <script type="text/javascript" src="https://hcaptcha.com/1/api.js"></script>
                        <script type="text/javascript">
                            var hcaptchaCallbackinput_10 = function(token)
                            {
                              var hiddenInput = $("input_10");
                              hiddenInput.setValue(1);
                              if (hiddenInput.validateInput)
                              {
                                hiddenInput.validateInput();
                              }
                            }
                            
                            var hcaptchaExpiredCallbackinput_10 = function()
                            {
                              var hiddenInput = $("input_10");
                              hiddenInput.writeAttribute("value", false);
                              if (hiddenInput.validateInput)
                              {
                                hiddenInput.validateInput();
                              }
                            }
                        </script>
                    </section>
                </div>
            </li>
            <li class="form-line" data-type="control_button" id="id_2">
                <div id="cid_2" class="form-input-wide" data-layout="full">
                    <div data-align="center" class="form-buttons-wrapper form-buttons-center   jsTest-button-wrapperField"><button id="input_2" type="submit" class="form-submit-button form-submit-button-gray-900 submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">Submit For Verification</button></div>
                </div>
            </li>
            <li style="display:none;">Should be Empty: <input type="text" name="website" value=""></li>
        </ul>
    </div>
    <script>
        JotForm.showJotFormPowered = "new_footer";
    </script>
    <script>
        JotForm.poweredByText = "Powered by Jotform";
    </script><input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="231542102767047">
    <script type="text/javascript">
        var all_spc = document.querySelectorAll("form[id='231542102767047'] .si" + "mple" + "_spc");
        for (var i = 0; i < all_spc.length; i++)
        {
          all_spc[i].value = "231542102767047-231542102767047";
        }
    </script>
    <div class="formFooter-heightMask"><br></div>
    <div class="formFooter f6 branding21">
        <div class="formFooter-wrapper formFooter-leftSide"><br></div>
    </div>
</form>
<script type="text/javascript">
    JotForm.ownerView=true;
</script>
<script type="text/javascript">
    JotForm.forwardToEu=true;
</script>
<script src="https://cdn.jotfor.ms//js/vendor/smoothscroll.min.js?v=3.3.42409"></script>
<script src="https://cdn.jotfor.ms//js/errorNavigation.js?v=3.3.42409"></script>